@model IEnumerable<DB.Models.Cruds.Aguinaldo>

@{
    ViewBag.Title = "Personal Aguinaldo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-left mb-4">Cálculo de aguinaldo</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <button id="generarPdfBtn" class="btn btn-danger">Generar PDF</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="text-center">Año de ingreso</th>
                        <th class="text-center">Dias trabajados</th>
                        <th class="text-center">Total de salarios</th>
                        <th class="text-center">Monto de aguinaldo</th>
                        <th class="text-center">Cédula</th>
                        <th class="text-center">Nombre</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.AGUINALDO.Año)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.AGUINALDO.Dias_Trabajados)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.AGUINALDO.Total_Salarios)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.AGUINALDO.Aguinaldo)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.PERSONA.Cedula)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.PERSONA.Nombre) @Html.DisplayFor(modelItem => item.PERSONA.Apeliido1) @Html.DisplayFor(modelItem => item.PERSONA.Apellido2)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No hay datos disponibles</td>
                        </tr>
                    }

                </tbody>
        </table>


        <script>

            generarPDF('Calculo_Aguinaldo_Personal.pdf');

        </script> @if (Session["Error"] != null){ <script>NoSeElimino('@Session["Error"].ToString()');</script> }



    </div>
</div>