@model IEnumerable<DB.Models.canton>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/content/IndexStyle.css">
</head>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-left mb-4">Lista de Cantones</h2>
            <hr />
            <div class="text-left mb-4 ml-0">
                <a href="@Url.Action("Create")" class="btn btn-success">Crear Nuevo</a>
                <button id="generarPdfBtn" class="btn btn-danger">Generar PDF</button>
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Provincia</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.provincia.Descripcion)</td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", new { idCanton = item.idCanton, idProvincia = item.Provincia_idProvincia })" class="btn btn-warning btn-sm">Editar</a>
                            <a href="@Url.Action("Details", new { idCanton = item.idCanton, idProvincia = item.Provincia_idProvincia })" class="btn btn-info btn-sm">Detalles</a>
                            <a href="@Url.Action("Delete", new { idCanton = item.idCanton, idProvincia = item.Provincia_idProvincia })" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    generarPDF('Cantones.pdf');
</script> @if (Session["Error"] != null){ <script>NoSeElimino('@Session["Error"].ToString()');</script> }

