@model DB.Models.horas_extras

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link rel="stylesheet" type="text/css" href="~/Content/EliminarStyle.css" />
</header>

<style>
    dl.dl-horizontal dt {
        width: 40%; /* Ancho para las etiquetas de descripción */
        float: left;
        clear: left;
        text-align: left; /* Alineación a la izquierda para las etiquetas de descripción */
        margin-right: 10px;
    }

    dl.dl-horizontal dd {
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-bottom: 10px; /* Espaciado entre elementos */
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="alert-container">
                <div class="alert alert-warning">
                    <strong>Atención:</strong> Si eliminas esta hora extra no podrás recuperarla.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">Eliminar hora extra</h2>
                </div>

                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Id horas extras
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Id_Horas)
                        </dd>

                        <dt>
                            Cantidad de horas
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cantidad_Horas_Extras)
                        </dd>

                        <dt>
                            Tipo de horas
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.catalago_tipo_horas_extras.Descripcion)
                        </dd>

                        <dt>
                            Id empleado
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Empleados_Id_Empleado)
                        </dd>

                    </dl>
                    <hr />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color text-center" style="margin-top: -20px;">
                            <div style="display: inline-block;">
                                <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
                            </div>
                           
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
