@model IEnumerable<DB.Models.horas_extras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/content/IndexStyle.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-left mb-4">Horas Extras</h2>
            <hr />
            <div class="text-left mb-4 ml-0">
                <a href="@Url.Action("Create")" class="btn btn-success">Crear Nuevo</a>
                <button id="generarPdfBtn" class="btn btn-danger">Generar PDF</button>
            </div>
        </div>
    </div>

    @*<div class="row mb-3">
        <div class="col-md-6">
            <button id="generarPdfBtn" class="btn btn-danger">Generar PDF</button>
        </div>
    </div>*@

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center"> Cantidad Horas Extras</th>
                    <th class="text-center"> Tipo Hora Extra</th>
                    <th class="text-center"> Porcentaje</th>
                    <th class="text-center"> Monto Total de Horas</th>
                    <th class="text-center"> Empleado</th>
                    <th class="text-center"> Salario</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Cantidad_Horas_Extras)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.catalago_tipo_horas_extras.Descripcion)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.catalago_tipo_horas_extras.Porcentaje)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Monto)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.empleado.persona.Nombre)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.empleado.Salario)</td>
                        <td class="text-center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Fecha_Horas_Trabajadas.ToString("yyyy-MM-dd"), idEmpleado = item.Empleados_Id_Empleado, idTipoHoras = item.Catalago_Tipo_Horas_Extras_Id_Hora_Extra }, new { @class = "btn btn-warning btn-sm" }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.Fecha_Horas_Trabajadas.ToString("yyyy-MM-dd"), idEmpleado = item.Empleados_Id_Empleado, idTipoHoras = item.Catalago_Tipo_Horas_Extras_Id_Hora_Extra }, new { @class = "btn btn-info btn-sm" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Fecha_Horas_Trabajadas.ToString("yyyy-MM-dd"), idEmpleado = item.Empleados_Id_Empleado, idTipoHoras = item.Catalago_Tipo_Horas_Extras_Id_Hora_Extra }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    generarPDF('Horas_Extra.pdf');


</script> @if (Session["Error"] != null){ <script>NoSeElimino('@Session["Error"].ToString()');</script> }