@model IEnumerable<DB.Models.Cruds.Vacaciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/content/IndexStyle.css">
</head>

<h2 class="text-left mb-4">Aprobacion de Vacaciones</h2>


<div class="row mb-3">
    <div class="col-md-6">
        <button id="generarPdfBtn" class="btn btn-danger">Generar PDF</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="bg-primary text-white">
            <tr>
                <th class="text-center">Fecha de inicio</th>
                <th class="text-center">Fecha fin</th>
                <th class="text-center">Cantidad de días</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.VACACION.Fecha_Inicio)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.VACACION.Fecha_Fin)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.VACACION.Cantidad_Dias)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.APROBACION.Estado)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.PERSONA.Nombre)</td>
                    <td class="text-center">
                        @Html.ActionLink("Aprobar", "Edit", new { fechaInicio = item.VACACION.Fecha_Inicio, cantidadDias = item.VACACION.Cantidad_Dias, cedula = item.PERSONA.Cedula, estado = item.APROBACION.Estado, comentario = item.APROBACION.Comentario }, new { @class = "btn btn-warning btn-sm" })
                        @Html.ActionLink("Rechazar", "Delete", new { fechaInicio = item.VACACION.Fecha_Inicio, cantidadDias = item.VACACION.Cantidad_Dias, cedula = item.PERSONA.Cedula, estado = item.APROBACION.Estado, comentario = item.APROBACION.Comentario }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    generarPDF('Vacaciones.pdf');


</script> @if (Session["Error"] != null){ <script>NoSeElimino('@Session["Error"].ToString()');</script> }

