@model IEnumerable<DB.Models.horas_extras>

@{
    ViewBag.Title = "Horas Extras Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/content/IndexStyle.css">
</head>

<h2 class="text-left mb-4">Horas extras</h2>

<div class="row mb-3">
    <div class="col-md-6">
        <button id="generarPdfBtn" class="btn btn-danger">Generar PDF</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center">Cantidad horas extras</th>
                    <th class="text-center">Tipo de hora extra</th>
                    <th class="text-center">Porcentaje de hora extra</th>
                    <th class="text-center">Monto</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Cantidad_Horas_Extras)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.catalago_tipo_horas_extras.Descripcion)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.catalago_tipo_horas_extras.Porcentaje)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Monto)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">No hay datos disponibles</td>
                    </tr>
                }

            </tbody>
    </table>
</div>

<script>
    generarPDF('Horas_Extra_Personal.pdf');


</script> @if (Session["Error"] != null){ <script>NoSeElimino('@Session["Error"].ToString()');</script> }