@model DB.Models.Cruds.Planilla

@{
    ViewBag.Title = "Detalle Planilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <link rel="stylesheet" type="text/css" href="~/Content/DetalleStyle.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/alinearStyle.css" />
    </header>

 

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="text-center">Detalles de planilla</h2>
                    </div>

                    <div class="panel-body">
                        @*<h4>PLANILLA</h4>*@
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Fecha
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PLANILLA.Fecha)
                            </dd>

                            <dt>
                                Horas labordas
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PLANILLA.Horas_Laboradas)
                            </dd>

                            <dt>
                                Catálogo de deducciones
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DEDUCCIONES.Descripcion)
                            </dd>

                            <dt>
                                Total neto
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PLANILLA.Total_Neto)
                            </dd>

                            <dt>
                                Tipo de deducción
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DEDUCCIONES.Descripcion)
                            </dd>

                            <dt>
                                Id empleado
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PERSONA.Nombre) @Html.DisplayFor(model => model.PERSONA.Apeliido1) @Html.DisplayFor(model => model.PERSONA.Apellido2)
                            </dd>

                        </dl>
                    </div>

                    <div class="panel-footer text-center">
                        <p>
                            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-danger" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
